@charset "UTF-8";
@import url("reset.css");

video {
    width: 60%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
}

#chat{
	width:40%;
}

#chatView{
	overflow-y: scroll;
}
#viewList{
	overflow-y: scroll;
}