<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <!-- <link rel="srylesheet" th:href="@{/fonts/fontawesome.min.css}"> -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <title>ToyLive</title>
</head>

<body>

    <th:block layout:fragment="content"></th:block>

</body>

</html>