<html layout:decorate="~{layout}">

<th:block layout:fragment="content">

        <div class="mb-3">
            <label for="username" class="form-label">방송제목</label>
            <input type="text" name="subject" id="subject" class="form-control">
        </div>
        <button id="start" type="button" class="btn btn-primary">방송시작</button>
		<a href="/room/delete" class="btn btn-primary">방송종료</a>
		<div id="room"></div>
		<script>
		window.onload = function(){
			createRoom();
		}
		let subject;
		
		function createRoom(){
			let button = document.querySelector("#start");
			button.addEventListener("click",function(){
				subject = document.querySelector("#subject").value;
				let msg = {
					subject: subject
				};
				ajax("/room/create", msg, "post", function(result){
					document.querySelector("#room").innerHTML=JSON.stringify(result);
				})
			})
		}
		
		</script>
</th:block>

</html>